{% extends 'base.html' %}

{% block content %}

<style>
    body {
        background-color: darkseagreen;
    }
</style>

<div class="col-md-6 offset-md-3">
    <h1>SpotiDrive</h1>
    </br>
    <p>SpotiDrive allows you to input your starting address and destination, and it will automatically calculate
        the estimated drive time for your trip, and provide you with a customized Spotify playlist to match the length
        of your trip!</p>
    <p>This is a project for the HackUTD X hackathon by Riley Bagwell and Daniel Nemirovskiy. We utilized the Spotify and MapQuest
        APIs, and the entirety of the codebase is written in Python. Django is the front-end framework for the app.</p>
</div>

{% endblock %}